<p>ticket works!</p>



<div *ngIf="Model">
  <h2>{{Model.title}}</h2>

  <div class="row">
    <div class="col-md-4">
      <div>
        <strong>Author: </strong> {{Model.authorId}}
      </div>
      <div>
        <strong>Priority: </strong> {{Model.priority}}
      </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4" style="word-wrap: break-word">
      <strong>Description: </strong> {{Model.description}}
    </div>
  </div>

</div>
