<h1>Hello, world!</h1>



<div class="row" *ngFor="let m of Model">
  <div class="col-md-4">
    <h2 style="word-wrap: break-word">{{m.title}}</h2>
    <div>
      <strong>Category: </strong> {{m.categoryId}}
    </div>
    <div>
      <strong>Author: </strong> {{m.authorId}}
    </div>
    <a [routerLink]="['/Ticket',m.id]">
      More Details...
      <!--<button (click)="clickFunction(m.id)" class="btn btn-default">More Details...</button>-->
    </a>

  </div>
</div>
